<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BlogIt!</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Oswald|Oxanium&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navbar">
      <a id="logo" href="/">BlogIt!</a>
      <ul id="navbar-list" >
        <li class="navbar-list-item"><a href="/">Home</a></li>
        <li class="navbar-list-item"><a href="/about">About</a></li>
        <li class="navbar-list-item"><a href="/post">Post</a></li>
      </ul>
    </div>
