<%- include('header') -%>
    <form class="post-block" style="align:center;" action="/" method="post">
      <input class="text-input" type="text" name="heading" value="" placeholder="Heading"><br>
      <textarea class="text-input" name="post" rows="8" cols="80" placeholder="Post"></textarea><br>
      <button class="submit" type="submit" name="submit">+</button>
    </form>
<%- include('footer') -%>
